/*------------------------------------------------------------

	Style.css
	
	Created by:	Dave Rupert
	Contact:		dave@paravelinc.com
	
	Copyright 2007 - 2010
	License:		WTFPL + "Not going to maintain this because the rent is too damn high licence."
	
--------------------------------------------------------------*/

/* Reset
-------------------------------------------------------------- */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,em,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}
table{border-collapse:separate;border-spacing:0;margin-bottom:1.4em;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:;}
a img{border:none;}

/* Grid
-------------------------------------------------------------- */
.container{
	width:960px;
	margin:0 auto;
	position:relative
}

.grid_1,.grid_2,.grid_3,.grid_full{
	float:left;
	margin:0px 10px
}
.grid_1{
	width:300px
}
.grid_2{
	width:620px
}
.grid_3,.grid_full{
	width:940px
}
.grid_right{
	float:right
}
.grid_1	img {
	max-width: 100%;
	height: auto;
}


.content-pad-right {
	padding-right: 4%; /* Use as necessary. Also use percents here for fluidity. */
}

.content-pad-left: {
	padding-left: 4%;
}

/* Page
-------------------------------------------------------------- */
html { overflow-y: auto; }

#header {
	clear:both;
	overflow: hidden;
}
#header h1 {
	margin: 2.5% 0;
}

/* Typography
-------------------------------------------------------------- */

/* Default font settings
   The font-size percentage is of 16px (0.75 * 16px = 12px) */
body { 
	font-size: 100%;
 	line-height: 2;
	color: #222; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p	{ margin: 0 0 1.5em; }
strong	{ font-weight: bold; }
em	{ font-style: italic; }


/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: bold; color: #111; line-height: 1; margin-bottom: 0.25em; }

h1 { font-size: 3em;}
h2 { font-size: 2em;}
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img {
  margin:0;
}

/* Links
-------------------------------------------------------------- */

a           	{ color: #009; text-decoration: underline; }
a:focus, 
a:hover     	{ color: #000; }
a:visited		{}
a:visted:hover 	{}


/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 0.5em 1.5em 1.5em; }

ul          { list-style-type: circle; }
ul + li		{}

ol          { list-style-type: decimal; }
ol + li		{}

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Other Elements
-------------------------------------------------------------- */

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
dfn         { font-style: italic;font-weight: bold; background: #ffc; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre,code    { margin: 1.5em 0; white-space: pre; }
tt          { display: block; margin: 1.5em 0; line-height: 1.5; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }

/* Layout
-------------------------------------------------------------- */

/* Page-Specific - based on the <body> class
-------------------------------------------------------------- */


/* @media Queries

We re-implement the grid over a few widths:

* < 400px				- One column fixed
* 401px-640px - One column fluid.
* 641px-960px - Fluid grid

All these are just sample widths that really depend on your design.
Feel free to change/experiment/strip as necessary.

-------------------------------------------------------------- */


/* @iPhone: really small
-------------------------------------------------------------- */
@media screen and (max-width: 400px){
/*
	Change to min-device-width just for phones.
	You could also lower this for a smoother experience. This is set to 400px to test in-browser.
*/
	html{
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none
	}
	body{
		min-width:320px;
		overflow:auto;
		font-size: 75%;
	}
	.container{
		width:300px;
		margin:0px auto;
		clear:both;
		overflow:hidden;
		position:relative
	}
	.grid_1,.grid_2,.grid_3,.grid_full{
		width:300px;
		margin:0 0 2.5%
	}
	
	.grid_1 img{
		max-width:100%
	}

	.content-pad-left,
	.content-pad-right {
		padding-left:0;
		padding-right:0;
	}

}

/* @1-Col
-------------------------------------------------------------- */
@media screen and (min-width: 401px) and (max-width: 640px){
/*
	Set min-width to your previous query's max-width +1
*/
	html{
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none
	}
	body{
		font-size: 82.5%;
	}
	.container{
		width:92%;
		margin:0 auto
	}
	.grid_1,.grid_2,.grid_3,.grid_full{
		float: none;
		width:100%;
		margin:0 0 2.5%
	}
	.grid_1	img {
		max-width: 100%;
	}

	.content-pad-left,
	.content-pad-right {
		padding-left:0;
		padding-right:0;
	}


}

/* @iPad: Fluid Grid for screens less than 960px
-------------------------------------------------------------- */
@media screen and (min-width: 641px) and (max-width: 960px){
/*
	Set min-width to your previous query's max-width +1
*/
	body{
		font-size: 90%;
	}
	.container{
		width:98%;
		padding-left:1%;
		padding-right:1%
	}
	.grid_1,.grid_2,.grid_3,.grid_full{
		display:inline;
		float:left;
		position:relative;
		margin-left:1%;
		margin-right:1%
	}
	.grid_1{
		width:31.333%
	}
	.grid_2{
		width:64.667%
	}
	.grid_3,.grid_full{
		width:98.0%
	}
	.grid_1 img{
		max-width:100%;
		height:auto
	}
	.grid_right{
		float:right
	}
}